@page "/"

<h1 class="text-center">Welcome to BlazorSPA BookStore!</h1>
<p class="text-center">A platform to research your favorite books</p>
<div class="text-center">
    <NavLink class="nav-link" href="books">
        <button class="btn btn-info btn-lg">See Books</button>
    </NavLink>
</div>